# Python
__pycache__/
*.py[cod]
*.sqlite3
.venv/

# Django
staticfiles/
media/

# Environment
.env

# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies

# IDE
.idea/
.vscode/
