DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=*
TIME_ZONE=America/Bogota
DAILY_RATE=60000

POSTGRES_DB=attendance_db
POSTGRES_USER=attendance_user
POSTGRES_PASSWORD=attendance_pass
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

META_WHATSAPP_TOKEN=
META_WHATSAPP_PHONE_ID=
META_WHATSAPP_ADMIN_NUMBER=573001112233
